.ipynb_checkpoints

cats-vs-dogs-data-kaggle

cat_and_dogs_small_1.h5
cat_and_dogs_small_2.h5
cat_and_dogs_small_finetune.h5

cat1.jpg
cat_cam.jpg
dog1.jpg
dog_cam.jpg
dog2.jpg
dog2_cam.jpg
dog3.jpg
dog3_cam.jpg
dog4.jpg
dog4_cam.jpg

acllmdb
glove6B

pre_trained_glove_model.h5